@font-face{font-family:"Flaticon";src:url("../fonts/flaticon.eot");src:url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.svg") format("svg");font-weight:normal;font-style:normal;}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after{font-family:Flaticon;font-style:normal;}
.flaticon-2440:before{content:"\e000";}
.flaticon-32:before{content:"\e001";}
.flaticon-add186:before{content:"\e002";}
.flaticon-add202:before{content:"\e003";}
.flaticon-add30:before{content:"\e004";}
.flaticon-aeroplane29:before{content:"\e005";}
.flaticon-agenda29:before{content:"\e006";}
.flaticon-airplane47:before{content:"\e007";}
.flaticon-airplane48:before{content:"\e008";}
.flaticon-airplane49:before{content:"\e009";}
.flaticon-airplane73:before{content:"\e00a";}
.flaticon-apple83:before{content:"\e00b";}
.flaticon-arrow-right:before{content:"\e00c";}
.flaticon-arrow138:before{content:"\e00d";}
.flaticon-arrow235:before{content:"\e00e";}
.flaticon-arrow483:before{content:"\e00f";}
.flaticon-arrow486:before{content:"\e010";}
.flaticon-arrow487:before{content:"\e011";}
.flaticon-arrowhead7:before{content:"\e012";}
.flaticon-award24:before{content:"\e013";}
.flaticon-back28:before{content:"\e014";}
.flaticon-badges1:before{content:"\e015";}
.flaticon-baggage35:before{content:"\e016";}
.flaticon-baggage36:before{content:"\e017";}
.flaticon-banking2:before{content:"\e018";}
.flaticon-basic14:before{content:"\e019";}
.flaticon-bio4:before{content:"\e01a";}
.flaticon-boat17:before{content:"\e01b";}
.flaticon-bones3:before{content:"\e01c";}
.flaticon-box39:before{content:"\e01d";}
.flaticon-building120:before{content:"\e01e";}
.flaticon-building33:before{content:"\e01f";}
.flaticon-bus55:before{content:"\e020";}
.flaticon-business133:before{content:"\e021";}
.flaticon-business134:before{content:"\e022";}
.flaticon-button27:before{content:"\e023";}
.flaticon-button8:before{content:"\e024";}
.flaticon-calendar-icons:before{content:"\e025";}
.flaticon-calendar146:before{content:"\e026";}
.flaticon-calendar179:before{content:"\e027";}
.flaticon-calendar3:before{content:"\e028";}
.flaticon-calendar53:before{content:"\e029";}
.flaticon-calendar70:before{content:"\e02a";}
.flaticon-calendars12:before{content:"\e02b";}
.flaticon-call36:before{content:"\e02c";}
.flaticon-cargo13:before{content:"\e02d";}
.flaticon-caution7:before{content:"\e02e";}
.flaticon-cellphone106:before{content:"\e02f";}
.flaticon-cellphone87:before{content:"\e030";}
.flaticon-chat51:before{content:"\e031";}
.flaticon-chat81:before{content:"\e032";}
.flaticon-check29:before{content:"\e033";}
.flaticon-check52:before{content:"\e034";}
.flaticon-check56:before{content:"\e035";}
.flaticon-checkbox6:before{content:"\e036";}
.flaticon-christmaspresent11:before{content:"\e037";}
.flaticon-circle184:before{content:"\e038";}
.flaticon-circular132:before{content:"\e039";}
.flaticon-clip25:before{content:"\e03a";}
.flaticon-clock104:before{content:"\e03b";}
.flaticon-clock148:before{content:"\e03c";}
.flaticon-clock151:before{content:"\e03d";}
.flaticon-clock240:before{content:"\e03e";}
.flaticon-clock96:before{content:"\e03f";}
.flaticon-close6:before{content:"\e040";}
.flaticon-configuration28:before{content:"\e041";}
.flaticon-cross-mark1:before{content:"\e042";}
.flaticon-data110:before{content:"\e043";}
.flaticon-datastorage41:before{content:"\e044";}
.flaticon-day24:before{content:"\e045";}
.flaticon-delivery13:before{content:"\e046";}
.flaticon-delivery30:before{content:"\e047";}
.flaticon-delivery50:before{content:"\e048";}
.flaticon-delivery55:before{content:"\e049";}
.flaticon-digital25:before{content:"\e04a";}
.flaticon-directional27:before{content:"\e04b";}
.flaticon-double36:before{content:"\e04c";}
.flaticon-double43:before{content:"\e04d";}
.flaticon-down126:before{content:"\e04e";}
.flaticon-earth186:before{content:"\e04f";}
.flaticon-earth26:before{content:"\e050";}
.flaticon-earth53:before{content:"\e051";}
.flaticon-earth94:before{content:"\e052";}
.flaticon-edition2:before{content:"\e053";}
.flaticon-ellipsis:before{content:"\e054";}
.flaticon-email141:before{content:"\e055";}
.flaticon-email147:before{content:"\e056";}
.flaticon-exclamationmark:before{content:"\e057";}
.flaticon-eye106:before{content:"\e058";}
.flaticon-eye109:before{content:"\e059";}
.flaticon-eyes31:before{content:"\e05a";}
.flaticon-facebook38:before{content:"\e05b";}
.flaticon-favorite7:before{content:"\e05c";}
.flaticon-file16:before{content:"\e05d";}
.flaticon-free4:before{content:"\e05e";}
.flaticon-garbage2:before{content:"\e05f";}
.flaticon-garbage21:before{content:"\e060";}
.flaticon-garbage24:before{content:"\e061";}
.flaticon-gear11:before{content:"\e062";}
.flaticon-gear42:before{content:"\e063";}
.flaticon-gear74:before{content:"\e064";}
.flaticon-glamour:before{content:"\e065";}
.flaticon-global50:before{content:"\e066";}
.flaticon-goggles3:before{content:"\e067";}
.flaticon-gps17:before{content:"\e068";}
.flaticon-gps25:before{content:"\e069";}
.flaticon-gps27:before{content:"\e06a";}
.flaticon-gps29:before{content:"\e06b";}
.flaticon-gps36:before{content:"\e06c";}
.flaticon-graphic4:before{content:"\e06d";}
.flaticon-grid2:before{content:"\e06e";}
.flaticon-hammer2:before{content:"\e06f";}
.flaticon-hand-gesture:before{content:"\e070";}
.flaticon-heart301:before{content:"\e071";}
.flaticon-heart365:before{content:"\e072";}
.flaticon-home168:before{content:"\e073";}
.flaticon-home7:before{content:"\e074";}
.flaticon-home87:before{content:"\e075";}
.flaticon-hospital28:before{content:"\e076";}
.flaticon-hour12:before{content:"\e077";}
.flaticon-house158:before{content:"\e078";}
.flaticon-house204:before{content:"\e079";}
.flaticon-house28:before{content:"\e07a";}
.flaticon-house3:before{content:"\e07b";}
.flaticon-house300:before{content:"\e07c";}
.flaticon-info38:before{content:"\e07d";}
.flaticon-info47:before{content:"\e07e";}
.flaticon-international11:before{content:"\e07f";}
.flaticon-international15:before{content:"\e080";}
.flaticon-iphone26:before{content:"\e081";}
.flaticon-journey2:before{content:"\e082";}
.flaticon-judge1:before{content:"\e083";}
.flaticon-left222:before{content:"\e084";}
.flaticon-letter121:before{content:"\e085";}
.flaticon-light91:before{content:"\e086";}
.flaticon-lines:before{content:"\e087";}
.flaticon-lines7:before{content:"\e088";}
.flaticon-location74:before{content:"\e089";}
.flaticon-lock91:before{content:"\e08a";}
.flaticon-locked68:before{content:"\e08b";}
.flaticon-logotype205:before{content:"\e08c";}
.flaticon-logotype40:before{content:"\e08d";}
.flaticon-luggage26:before{content:"\e08e";}
.flaticon-luggage38:before{content:"\e08f";}
.flaticon-magnifying-glass32:before{content:"\e090";}
.flaticon-magnifying-glass34:before{content:"\e091";}
.flaticon-magnifyingglass:before{content:"\e092";}
.flaticon-mail115:before{content:"\e093";}
.flaticon-mail23:before{content:"\e094";}
.flaticon-mail4:before{content:"\e095";}
.flaticon-man-silhouette1:before{content:"\e096";}
.flaticon-marriage:before{content:"\e097";}
.flaticon-menu10:before{content:"\e098";}
.flaticon-menu32:before{content:"\e099";}
.flaticon-menu45:before{content:"\e09a";}
.flaticon-menu55:before{content:"\e09b";}
.flaticon-menu7:before{content:"\e09c";}
.flaticon-minus-sign2:before{content:"\e09d";}
.flaticon-minus42:before{content:"\e09e";}
.flaticon-mobilephone31:before{content:"\e09f";}
.flaticon-monitor7:before{content:"\e0a0";}
.flaticon-more9:before{content:"\e0a1";}
.flaticon-museum39:before{content:"\e0a2";}
.flaticon-network19:before{content:"\e0a3";}
.flaticon-new100:before{content:"\e0a4";}
.flaticon-notepad19:before{content:"\e0a5";}
.flaticon-nut4:before{content:"\e0a6";}
.flaticon-ocean3:before{content:"\e0a7";}
.flaticon-offices:before{content:"\e0a8";}
.flaticon-open-book1:before{content:"\e0a9";}
.flaticon-opened29:before{content:"\e0aa";}
.flaticon-options22:before{content:"\e0ab";}
.flaticon-origami6:before{content:"\e0ac";}
.flaticon-package7:before{content:"\e0ad";}
.flaticon-packages2:before{content:"\e0ae";}
.flaticon-paper113:before{content:"\e0af";}
.flaticon-phone322:before{content:"\e0b0";}
.flaticon-phone325:before{content:"\e0b1";}
.flaticon-phone382:before{content:"\e0b2";}
.flaticon-phone391:before{content:"\e0b3";}
.flaticon-phone41:before{content:"\e0b4";}
.flaticon-pin56:before{content:"\e0b5";}
.flaticon-pin66:before{content:"\e0b6";}
.flaticon-pin67:before{content:"\e0b7";}
.flaticon-plane7:before{content:"\e0b8";}
.flaticon-play74:before{content:"\e0b9";}
.flaticon-portfolio2:before{content:"\e0ba";}
.flaticon-power17:before{content:"\e0bb";}
.flaticon-power39:before{content:"\e0bc";}
.flaticon-present31:before{content:"\e0bd";}
.flaticon-recycle36:before{content:"\e0be";}
.flaticon-recycle49:before{content:"\e0bf";}
.flaticon-refresh57:before{content:"\e0c0";}
.flaticon-reload:before{content:"\e0c1";}
.flaticon-right11:before{content:"\e0c2";}
.flaticon-right127:before{content:"\e0c3";}
.flaticon-rocketship4:before{content:"\e0c4";}
.flaticon-round68:before{content:"\e0c5";}
.flaticon-sea9:before{content:"\e0c6";}
.flaticon-settings62:before{content:"\e0c7";}
.flaticon-shield147:before{content:"\e0c8";}
.flaticon-ship6:before{content:"\e0c9";}
.flaticon-sign27:before{content:"\e0ca";}
.flaticon-silhouette120:before{content:"\e0cb";}
.flaticon-situation:before{content:"\e0cc";}
.flaticon-sky8:before{content:"\e0cd";}
.flaticon-smartphone66:before{content:"\e0ce";}
.flaticon-smartphone86:before{content:"\e0cf";}
.flaticon-soccer19:before{content:"\e0d0";}
.flaticon-speech-bubble7:before{content:"\e0d1";}
.flaticon-speech117:before{content:"\e0d2";}
.flaticon-speechbubble130:before{content:"\e0d3";}
.flaticon-square234:before{content:"\e0d4";}
.flaticon-square58:before{content:"\e0d5";}
.flaticon-storage20:before{content:"\e0d6";}
.flaticon-store5:before{content:"\e0d7";}
.flaticon-suitcase88:before{content:"\e0d8";}
.flaticon-suitcase89:before{content:"\e0d9";}
.flaticon-suitcases2:before{content:"\e0da";}
.flaticon-telephone114:before{content:"\e0db";}
.flaticon-telephone124:before{content:"\e0dc";}
.flaticon-telephone13:before{content:"\e0dd";}
.flaticon-telephone31:before{content:"\e0de";}
.flaticon-telephone33:before{content:"\e0df";}
.flaticon-telephone34:before{content:"\e0e0";}
.flaticon-telephone51:before{content:"\e0e1";}
.flaticon-telephone60:before{content:"\e0e2";}
.flaticon-three60:before{content:"\e0e3";}
.flaticon-thumb52:before{content:"\e0e4";}
.flaticon-thumbs4:before{content:"\e0e5";}
.flaticon-tick8:before{content:"\e0e6";}
.flaticon-time36:before{content:"\e0e7";}
.flaticon-tool305:before{content:"\e0e8";}
.flaticon-tool36:before{content:"\e0e9";}
.flaticon-tool658:before{content:"\e0ea";}
.flaticon-transport1007:before{content:"\e0eb";}
.flaticon-transport969:before{content:"\e0ec";}
.flaticon-transport993:before{content:"\e0ed";}
.flaticon-transportation:before{content:"\e0ee";}
.flaticon-trash19:before{content:"\e0ef";}
.flaticon-travelling24:before{content:"\e0f0";}
.flaticon-trophy36:before{content:"\e0f1";}
.flaticon-update23:before{content:"\e0f2";}
.flaticon-vehicle19:before{content:"\e0f3";}
.flaticon-verify5:before{content:"\e0f4";}
.flaticon-videogame24:before{content:"\e0f5";}
.flaticon-view28:before{content:"\e0f6";}
.flaticon-work11:before{content:"\e0f7";}
.flaticon-work17:before{content:"\e0f8";}
.flaticon-worldgrid26:before{content:"\e0f9";}